body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: white;
    color: darkgrey;
    font: 1.4rem "Lucida Console", Monaco, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#todo-app {
    margin: auto;
    background: #fff;
    position: relative;
}

/************************  header *************************/

h1 {
    width: 100%;
    padding: 0;
    margin-bottom: 0.6rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: darkgrey;
}

#app-title:before, #app-title:after{
    content: "";
    width: 20%;
    border-top: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}
#app-title:before{
    margin-right: 1rem;
}
#app-title:after{
    margin-left: 1rem;
}

/************************  main *************************/

.main {
    width: 32.4rem;
    position: relative;
    margin: auto;
    z-index: 2;
}

/*** add-new-item ***/
label[for='toggle-all'] {
    display: none;
}

#toggle-all {
    margin-right: 0.5rem;
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: bottom;
    left: 0.6rem;
}

#toggle-all::before {
    content: '❯';
    font-size: 22px;
    color: lightgrey;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

#add-new-item .selected::before {
    color: darkgrey;
}

#new-todo {
    width: 60%;
    height: 2rem;
    margin: 0 0.2rem;
    padding: 0 0.8rem;
    line-height: 3.2rem;
    font-size: 1.6rem;
    color: lightgrey;
    border: grey 0.1rem solid;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    left: 0;
}

#new-todo::placeholder {
    font-style: italic;
    color: lightgrey;
}

#add-btn {
    width: 2.5rem;
    height: 2.5rem;
    left: -0.5rem;
    bottom: -0.1rem;
    margin-left: 0.5rem;
    background: darkgrey;
    border-radius: 100%;
    border: 0;
    color: white;
    font-size: 1.6rem;
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    position: relative;
}

/************************  show-title *************************/

#show-list {
    width: 80%;
    background: #FFF;
    font-size: 1.8rem;
    margin: 1.5rem auto auto;
    padding: 0.5em 1em;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
    0 0.8rem 0 -0.3rem #f6f6f6,
    0 0.9rem 0.1rem -0.3rem rgba(0, 0, 0, 0.2),
    0 1.6rem 0 -0.6rem #f6f6f6,
    0 1.7rem 0.2rem -0.6rem rgba(0, 0, 0, 0.2);
}

#show-title {
    color: #777;
    text-align: center;
    font-size: 1.2rem;
}

#todo-count {
    float: left;
    text-align: left;
}

#filters {
    margin: 0 0 0 11.5rem;
    padding: 0;
    list-style: none;
    position: absolute;
}

#filters li {
    display: inline;
}

#filters li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0.2rem solid white;
    border-radius: 0.3rem;
}

#filters li a.selected {
    background-color: darkgrey;
    border-color: darkgrey;
    color: white;
}

/************************ todolist *************************/

#todo-list {
    display: block;
    padding: 0;
    width: 100%;
    max-height: 40rem;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style: none;
}

#todo-list li {
    position: relative;
    width: 130%;
    height: 4rem;
    line-height: 4rem;
    margin: auto;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
    vertical-align: bottom;
    overflow: hidden;
    z-index: 1;
}

#todo-list li .toggle {
    width: 2rem;
    height: 2rem;
    float: left;
    text-align: center;
    line-height: 2rem;
    border: darkgrey 0.1rem solid;
    border-radius: 100%;
    margin: 1.2rem 1rem;
    vertical-align: bottom;
    color: white;
}

#todo-list li .selected{
    background-color: darkgrey;
}

#todo-list li.completed .todo-label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-label {
    float: left;
    height: 4rem;
    line-height: 4rem;
    margin: 0.5rem 0;
    min-width: 15.5rem;
    width: 40%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-content {
    float: left;
    width: 60%;
    height: 3rem;
    line-height: 4rem;
    margin: 0.5rem 0;
    min-width: 15.5rem;
    text-align: left;
    border: lightgrey 0.1rem solid;
    border-radius: 0.5rem;
    color: darkgrey;
    font: 1.4rem "Lucida Console", Monaco, monospace;
}

.swipe-left{
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.swipe-btns{
    float: right;
    width: 22%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    display: block;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.del-btn, .top-btn{
    position: relative;
    display: inline-block;
    width: 50%;
    color: lightgrey;
}

/************************ footer *************************/

#clear-btn {
    margin: 2rem;
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
    background: darkgrey;
    color: white;
    border: 0.1rem solid darkgrey;
    border-radius: 0.3rem;
}

